<ul class="products">
  <li class="product">Product 1</li>
  <li class="product">Product 2</li>
</uL>

<div class="product featured">
  <div class="product featured title">
    Garlic Presser Thing
  </div>
  <div class="product featured description">
    This is some demo text that should not be left in!
  </div>
  <div class="product featured price">
    12.49
  </div>
</div>
