.email.signup {
  padding-top: 14px;
}

#logo {
  padding-top:3px;
  padding-bottom: 10px;
  padding-left: 0 px;
  padding-right: 10px;
}


.featured.info{
 line-height:36px; 
}
.product.featured.title a {
  color:#333333;
}
